---
interface Props {
    title: string;
    mainStyle?: string;
}

import { ViewTransitions } from 'astro:transitions';

import NavLink from '@components/NavLink.astro';
import MediaLinks from '@components/MediaLinks.astro';

const { title, mainStyle } = Astro.props;
const currentDir = Astro.url.pathname.split('/').pop();
---

<html
    lang='en'
    transition:persist
>
    <head>
        <meta charset='UTF-8' />
        <meta
            name='description'
            content='Astro description'
        />
        <meta
            name='viewport'
            content='width=device-width'
        />
        <link
            rel='icon'
            type='image/svg+xml'
            href='/favicon.svg'
        />
        <meta
            name='generator'
            content={Astro.generator}
        />
        <meta
            name='author'
            content='Gaspar Gómez Kral'
        />
        <meta
            name='description'
            content='Portfolio de Gaspar Gómez Kral'
        />
        <meta
            name='keywords'
            content=' portfolio, gaspar, gómez, kral, frontend, developer, web, javaScript, Astro, React, tailwind'
        />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <nav
            class='flex w-full justify-between items-center h-fit py-2 px-8 bg-transparent fixed top-0 backdrop-blur-md'
        >
            <menu class='flex gap-10 py-2'>
                <NavLink
                    href='./'
                    title='About'
                    currentDir={currentDir}
                />
                <NavLink
                    href='./projects'
                    title='Projects & Experience'
                    currentDir={currentDir}
                />
                <NavLink
                    href='./contact'
                    title='Contact'
                    currentDir={currentDir}
                />
            </menu>
            <MediaLinks />
        </nav>
        <main
            class={`flex flex-col py-24 px-16 w-full min-h-screen items-center h-screen transition-colors duration-500 dark:text-primary-light dark:bg-primary-dark bg-primary-light font-nunito ${mainStyle}`}
        >
            <slot />
        </main>
    </body>
</html>
