---
interface Props {
    title: string;
    mainStyle?: string;
}

import { ViewTransitions } from 'astro:transitions';
import { HamburguerMenu } from '@components/HamburgerMenu';

import NavLink from '@components/NavLink.astro';
import MediaLinks from '@components/MediaLinks.astro';

const { title, mainStyle } = Astro.props;
const currentDir = Astro.url.pathname.split('/').pop();
---

<html
    lang='en'
    transition:persist
>
    <head>
        <meta charset='UTF-8' />
        <meta
            name='description'
            content='Astro description'
        />
        <meta
            name='viewport'
            content='width=device-width'
        />
        <link
            rel='icon'
            type='image/svg+xml'
            href='/favicon.svg'
        />
        <meta
            name='generator'
            content={Astro.generator}
        />
        <meta
            name='author'
            content='Gaspar Gómez Kral'
        />
        <meta
            name='description'
            content='Portfolio de Gaspar Gómez Kral'
        />
        <meta
            name='keywords'
            content=' portfolio, gaspar, gómez, kral, frontend, developer, web, javaScript, Astro, React, tailwind'
        />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <nav
            class='xl:flex w-full justify-between items-center h-fit xl:py-2 xl:px-8 xl:bg-transparent fixed top-0 backdrop-blur-md z-10 bg-white/50'
        >
            <HamburguerMenu client:load />
            <menu class='xl:flex gap-10 py-2 hidden'>
                <NavLink
                    href='/Portfolio/'
                    title='About'
                    currentDir={currentDir}
                />
                <NavLink
                    href='/Portfolio/projects'
                    title='Projects & Experience'
                    currentDir={currentDir}
                />
                <NavLink
                    href='/Portfolio/contact'
                    title='Contact'
                    currentDir={currentDir}
                />
            </menu>
            <MediaLinks />
        </nav>
        <main
            class={`flex flex-col py-8 px-8 pb-20 xl:py-24 xl:px-16 w-full min-h-screen items-center h-screen transition-colors duration-500 bg-primary-light font-nunito ${mainStyle}`}
        >
            <slot />
        </main>
    </body>
</html>
